 nav, main {
    transition: transform 150ms ease-out;
}

nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16em;
    background-color: #353441;
    transform: translateX(-16em);

}

.nav-toggle {
    transform: translateX(-16em);
}

nav.menu-active {
    transform: translateX(0);
}

nav.menu-hover {
    transform: translateX(-15em);
}

nav h1 {
    z-index: 100;
    display: block;
    position: absolute;
    top: 0;
    right: -65px;
    height: 60px;
    width: 65px;
    line-height: 60px;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: #353441;
    cursor: pointer;
}

nav h1:hover {
    color: #353441;
    background: white;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0 1em;
    width: 100%;
    height: 60px;
    color: #9dc6d1;
    line-height: 60px;
    background-color: #353441;
    transition: all 0.5s ease-in;
}

nav li:nth-of-type(2n) {
    background-color: #3a3947;
}

nav li:hover {
    background: orangered;
    color: white;
}

main {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-image: url(./images/counter.jpg);
    transform-origin: 0% 50%;
    background-size: cover;
}


main::after {
    content: '';
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, transparent, rgba(33, 33, 45, .5));
    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms ease-out,
    visibility 0s 150ms;
}

main.menu-active {
    border-radius: 0.001px;
    transform: translateX(16em) rotateY(15deg);
}

main.menu-active::after {
    visibility: visible;
    opacity: 1;
    transition: opacity 150ms ease-out,
    visibility 0s;
}

main.menu-hover {
    border-radius: 0.001px;
    transform: translateX(1em) rotateY(1deg);
}

main section {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em 4em;
    max-width: 680px;
    overflow: auto;
    background-color: rgba(255, 255, 255, .5);
}

section h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
}

section p {
    display: inline-block;
    margin: 16px 0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    height: 100vh;
    font-family: tahoma;
    line-height: 1.7;
    perspective-origin: 0% 50%;
    perspective: 800px;
    background: #21212d;

}

main {
    height: 100vh;
    width: 100%;
}

.booth {
    background-image: url(./images/counter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
}

.man {
    background-image: url(./images/Bell.png);
    background-repeat: no-repeat;
    width: 50%;
    background-size: contain;
    position: absolute;
    height: 60vh;
    left: 5%;
}
/* bodyFontColor : #fff; */


/* .mainnav {
  position: absolute; 
  font-family: 'Montserrat Alternates', sans-serif;
  z-index: 1;
}

 .mainnav li {
    margin: 85px 0;
    left: -550px;
    position: relative;
    display: none;
  }

 .mainvav a {
    color: bodyFontColor;
    text-shadow: 2px 2px 0 #000;
    text-decoration: none;
    font-size: 3.5em;
  }


.hamb {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2.5em;
  z-index: 1;
}
 
.hamb a {
    color: bodyFontColor;
    text-decoration: none;
  }

 
.hero {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-image: linear-gradient(to bottom, #d59254, #cf7693);
}

h1 {
  font-size: 5em;
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat Alternates', sans-serif;
  color: bodyFontColor;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}  

.bubble {
  width: 100%;
  height: 100%;
  opacity: .9;
  position: fixed;
  display: none;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
} */

